.count {
    padding:1em;

    button {
        background-color: #555555;
        border: none;
        color: white;
        padding: 0.5em 1.5em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        cursor: pointer;
        &:hover {
          background: #e7e7e7;
          color: black;
        }
      }
  }